body {
  background: #e8e7e3;
  font-family: "poppins";
  margin: 0;
  scroll-behavior: smooth;
}
.fade-in {
  opacity: 0; /* Start hidden */
  animation: fadeIn 3s forwards; /* 3 seconds duration */
 
}

@keyframes fadeIn {
  to {
      opacity: 1; /* End fully visible */
  }
}
.width70 {
  width: 70%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(29, 29, 29, 0.7);
  margin-top: 0;
  width: 70%;
  background-color: #ccc;
  display: none;
}
.side-bar .side-navitems {
  padding: 12px;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  z-index: 1000;
}

.hamburger-btn {
  color: black !important;
  padding-right: 57px;
  display: none;
}

.showOnMobile {
  display: none;
}

.navbar {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: context-menu;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  font-family: "fira code";
  color: black;
  font-size: 20px;
  z-index: 1000;
}
.navbar .logo span {
  color: #d24aff;
}
.navbar .nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}
.navbar .nav-items :hover {
  color: #d24aff;
  font-weight: bold;
}
.navbar .nav-items a li {
  display: inline-block;
  padding-right: 1em;
  color: black;
}

.education {
  background-color: rgba(166, 152, 152, 0.2705882353);
  padding: 20px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.education:hover {
  transform: scale(1.1);
}

.expirence  {
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
  
}

h1 {
  font-size: 48px;
}

ul {
  list-style: none;
}

.center-page {
  align-content: center;
  height: 100vh;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.left-col {
  width: 50%;
}

.paddingbottom50px {
  padding-bottom: 50px;
}

.heading {
  color: #d24aff;
  font-size: 38px;
}

.vt323 {
  font-family: "VT323";
}

.primary-button {
  text-decoration: none;
  background-color: #d24aff;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.profilepicture {
  max-width: 510px;
  max-height: 510px;
  border-radius: 100px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center .aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width82 {
  width: 82%;
}

.contanier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

li i {
  padding: 10px 25px;
}

i:hover {
  color: #d24aff;
}

.fa:hover {
  font-size: 36px !important;
}

.skillsname {
  font-size: 30px;
  font-family: "Fira Code" !important;
}

footer {
  width: 100%;
  background-color: black;
  color: #e8e7e3;
}

.container1 {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.image-html {
  width: 50%;
  height: 50%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input[type=text], input[type=email], .textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "fira code";
}

.aboutMe {
  width: 85%;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
}

.padding1em {
  padding: 1em;
}

.imgSkills {
  border: black 1px;
}
body {
  margin: 0;
  padding: 0;
}
.img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 533px;
}
.imageBox {
  position: absolute;
  top: 0;
  left: 0;
}
.imageAfter {
  width: 0;
  transition: 2s;
  overflow: hidden;
}
.img-container:hover .imageAfter {
  width: 100%;
}

.fa {
  color: white;
  font-size: 34px !important;
}

.projects-section {
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
}

.footerCenter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.background-color-white {
  width: 90%;
  padding: 20px;
}

.heading70px {
  font-size: 0px;
}

.vl {
  border-left: 2px solid black;
  height: 500px;
}

.width30 {
  width: 30%;
}

.width55 {
  width: 55%;
}

.width70 {
  width: 70%;
}

.width100 {
  width: 100%;
}

.contact-me {
  margin-bottom: 20px;
  background-image: url(/images/Art\ Warehouse\ in\ Boeotia\ by\ A31\ Architecture\ \(1\).jfif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  color: #942222 !important;
}

.width60 {
  width: 60%;
}

.white-font {
  color: white;
}

.overlay {
  background-color: rgba(29, 29, 29, 0.7);
  padding: 1em;
}

.boarderradius20px {
  border-radius: 20px;
}

.width33 {
  width: 33%;
}

.width50 {
  width: 50%;
}

.width60 {
  width: 60%;
}

.dev-section {
  padding-bottom: 1em;
  color: #3a3939;
}

.purple-line {
  border-bottom: 2px solid #d24aff;
}

.monoton {
  font-family: "Monoton";
}

.width90 {
  width: 90%;
}

.width290PX {
  width: 290px;
}

.secondary-button {
  text-decoration: none;
  border: 2px solid #d24aff;
  padding: 20px;
  border-radius: 20px;
  color: #d24aff;
  font-weight: bold;
  text-align: center;
  margin: 24px 0;
}

.image {
  transition: transform 0.2s;
}

.image:hover { 
  transform: scale(1.5);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 600px;
  padding: 20px;
  background: rgba(166, 152, 152, 0.2705882353);
  transition: transform 0.2s;
}

.card:hover { /* IE 9 */ /* Safari 3-8 */
  transform: scale(1.1);
}

.title {
  color: grey;
  font-size: 18px;
}

.button {
  display: flex;
}

.button-div {
  margin-right: 66px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.long-button-black {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  border: 2px solid black;
  text-align: center;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-left: -10px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.long-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #d24aff;
  text-align: center;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-left: -10px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.long-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.long-button:hover::before {
  transform: translateX(0);
}

.profile-cards {
  display: flex;
  margin-bottom: 20PX;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.project-heading {
  font-size: 30px;
  font-weight: 900;
}

.marginbottom45px {
  margin-bottom: 45px;
}

@media screen and (max-width: 1024px) {
  .contanier {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .skills {
    width: 87%;
  }
  .skills-conainer {
    width: 90%;
  }
  .hideOnMobile {
    display: none;
  }
  .showOnMobile {
    display: block;
  }
}


@media all and (max-width: 766px) {
  .width33 {
    width: 52%;
  }
  .section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 150vh;
    padding-top: 78px;
    flex-direction: column;
}
.center-page {
  align-content: center;
  height: 155vh;
}
  
  .expirence {
    display: flex;
    align-content: stretch;
    justify-content: center;
  }
  .projects-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
  }
  .project {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media all and (max-width: 768px) {
  .width33 {
    width: 52%;
  }
  .expirence {
    display: flex;
    align-content: stretch;
    justify-content: center;
  }
}
@media all and (max-width: 675px) {
  .center-page {
    height: 100%;
  }
  .expirence {
    display: flex;
    align-content: stretch;
    justify-content: center;
  }
  .section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 150vh;
    padding-top: 78px;
    flex-wrap: nowrap;
  }
  .expirence {
    display: flex;
    align-content: stretch;
    justify-content: center;
  }
  .button-div {
    margin-right: 45px;
  }
  .exp-responsive {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .long-button {
    width: 194px;
    margin-bottom: 20px;
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .no-width {
    width: 75%;
  }
  .card {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 412px) {
  .section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .expirence {
    display: flex;
    align-content: stretch;
    justify-content: center;
  }
  .left-col {
    height: 47vh;
    width: 50%;
    padding-top: 113px;
    font-size: 14px;
  }
  .contanier {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
  }
  .aboutMe {
    margin-top: 123px;
  }
}
@media all and (max-width: 375px) {
  .center-page {
    align-content: center;
    height: 144vh;
  }
  .profilepicture {
    max-width: 510px;
    max-height: 510px;
    border-radius: 0;
    padding-top: 121px;
  }
  .left-col {
    height: 47vh;
    width: 60%;
    padding-top: 113px;
    font-size: 14px;
  }
  .image {
    width: 90%;
  }
  .projects-section {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
  }
  .project {
    flex-wrap: wrap;
  }
  .projects-section .width60 {
    width: 100%;
  }
  p {
    width: 100% !important;
  }
  .hamburger-btn {
    padding-right: 30px;
  }
}
.chatbot {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.chatbox {
  height: 400px;
  padding: 10px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.user-message {
  background-color: #da9cda;
  align-self: flex-end;
  color: #ffffff;
}

.bot-message {
  background-color: #979797;
  color: #ffffff;
}

.input-container {
  display: flex;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-family: "poppins";
}

button {
  width: 20%;
  background-color: #d24aff;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "poppins";
} 

  
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  background-color: #d24aff;
  color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.chatbot {
  position: fixed;
  bottom: 70px; 
  right: 30px;
  /* width: 300px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  background-color: white;
  display: flex;
  flex-direction: column;
}

.chatbox {
  height: 350px;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
 
}

.user-input {
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
  outline: none;
 
}  

.chat-header {
  background-color: #d24aff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}

.input-container {
  display: flex;
  padding: 10px;
}

.user-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.send-button {
  padding: 10px 15px;
  border: none;
  background-color: #d24aff;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
