
body{
    background:#e8e7e3 ;
    font-family: "poppins";
    margin:0;
 
}
.navbar{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: context-menu;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

    .contents{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
   
    .logo{
       
        text-decoration: none;
        font-weight: bold;
        font-family: 'fira code';
        color:black;
        font-size: 20px;
        
        
        span{
         color:#d24aff   
        }
    }
    .nav-items {
        :hover{
            color:#d24aff;
        font-size: 17px;
        font-weight: bold;
        }
        a{
            li{
                display: inline-block;
               padding-right: 1em;
               color:black
            }
        }
       
        
    }
  
}

ul{
    list-style: none;
   }
   .center-page{
    align-content: center;
    height: 100vh;
   }
   .section1{
    display: flex;
    justify-content: space-around;
    align-items: center;

   }
   .left-col{
    width: 50%;
   }
   .paddingbottom50px{
    padding-bottom: 50px;
   }
   
   .heading{
    color:#d24aff;
   font-family: 'fira code';
   }
   .primary-button{
    text-decoration: none;
    background-color: #d24aff;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
   }

.profilepicture{
    max-width: 500px;
    max-height: 500px;
    border-radius: 100px;
    }
    .center{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       .aboutMe{
       display: flex;
       flex-direction: column;
    //    justify-content: center;
       align-items: center;
      
       }
       
        
    }
    .width82{
        width: 82%;
       }
       .contanier{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        
       }

       .socials {
        display: flex;
    flex-direction: row;
    justify-content: center;
       }
li{
    i{
    padding:1em;
   
    
}
}
i:hover{
    color:#d24aff;
    
}
// .hide{
//     display: none;
// }
// .socials:hover +.hide{
// display: block;
// color:#d24aff
// }
       footer {
        width: 100%;
       }
    //    .container1{
    //     width: 100%;
    //    }
  html {
    scroll-behavior: smooth;
  }
  .image-html{
    width: 50%;
    height: 50%;
  }
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type=text],input[type=email],.textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "poppins";
  }
.aboutMe{
    background-color: #c7c7c7;
}
.padding1em{
    padding: 1em;
}
.imgSkills{
 border:black 1px;
}
.animaion{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1.5s linear forwards;
}
@keyframes moveup{
   100%{
    opacity:1;
    transform: translateY(30px)
   }

}