body {
  background: #e8e7e3;
  font-family: "fira code";
  margin: 0;
}

.firacode {
  font-family: "fira code";
}

.Courier-Prime {
  font-family: "Courier Prime";
}

.width70 {
  width: 70%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(29, 29, 29, 0.7);
  margin-top: 0;
  width: 70%;
  background-color: #ccc;
  display: none;
}
.side-bar .side-navitems {
  padding: 12px;
  text-decoration: none;
  color: black;
  font-size: xx-large;
}

.hamburger-btn {
  color: black !important;
  padding-right: 57px;
  display: none;
}

.showOnMobile {
  display: none;
}

.navbar {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: context-menu;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  font-family: "fira code";
  color: black;
  font-size: 20px;
}
.navbar .logo span {
  color: #d24aff;
}
.navbar .nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}
.navbar .nav-items :hover {
  color: #d24aff;
  font-size: 17px;
  font-weight: bold;
}
.navbar .nav-items a li {
  display: inline-block;
  padding-right: 1em;
  color: black;
}

.education {
  background-color: rgba(29, 29, 29, 0.3);
  border-radius: 2px;
}

h1 {
  font-size: 48px;
}

ul {
  list-style: none;
}

.center-page {
  align-content: center;
  height: 100vh;
}

.section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-col {
  width: 50%;
}

.paddingbottom50px {
  padding-bottom: 50px;
}

.heading {
  color: #d24aff;
  font-family: "Courier Prime";
}

.vt323 {
  font-family: "VT323";
}

.primary-button {
  text-decoration: none;
  background-color: #d24aff;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.profilepicture {
  max-width: 510px;
  max-height: 510px;
  border-radius: 100px;
}

.profilepicture:hover {
  height: 505px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center .aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width82 {
  width: 82%;
}

.contanier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

li i {
  padding: 10px 25px;
}

i:hover {
  color: #d24aff;
}

.fa:hover {
  font-size: 36px !important;
}

.skillsname {
  font-size: 30px;
  font-family: "Fira Code" !important;
}

footer {
  width: 100%;
  background-color: black;
  color: #e8e7e3;
}

.container1 {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.image-html {
  width: 50%;
  height: 50%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input[type=text], input[type=email], .textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "fira code";
}

.aboutMe {
  width: 85%;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
}

.padding1em {
  padding: 1em;
}

.imgSkills {
  border: black 1px;
}

.fa {
  color: white;
  font-size: 34px !important;
}

.projects-section {
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
}

.footerCenter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.background-color-white {
  background-color: white;
  width: 90%;
  padding: 20px;
}

.heading70px {
  font-size: 0px;
}

.vl {
  border-left: 2px solid black;
  height: 500px;
}

.width30 {
  width: 30%;
}

.width55 {
  width: 55%;
}

.width70 {
  width: 70%;
}

.width100 {
  width: 100%;
}

.contact-me {
  margin-bottom: 20px;
  background-image: url(/images/Art\ Warehouse\ in\ Boeotia\ by\ A31\ Architecture\ \(1\).jfif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  color: #942222 !important;
}

.width60 {
  width: 60%;
}

.white-font {
  color: white;
}

.overlay {
  background-color: rgba(29, 29, 29, 0.7);
  padding: 1em;
}

.boarderradius20px {
  border-radius: 20px;
}

.width33 {
  width: 33%;
}

.width50 {
  width: 50%;
}

.width60 {
  width: 60%;
}

.dev-section {
  padding-bottom: 1em;
  font-family: "Fira Code";
  color: #3a3939;
}

.purple-line {
  border-bottom: 2px solid #d24aff;
}

.monoton {
  font-family: "Monoton";
}

.expirence {
  display: flex;
  align-content: stretch;
  justify-content: flex-end;
}

.hoveredu {
  background-color: #f7f6f5;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px #d8d6d6;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  width: 400px;
}

.hoveredu:hover {
  background-color: #f7f6f5;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px #d24aff;
  margin: 20px;
  padding: 15px;
}

.secondary-button {
  text-decoration: none;
  border: 2px solid #d24aff;
  padding: 20px;
  border-radius: 20px;
  color: #d24aff;
  font-weight: bold;
  text-align: center;
}

img:hover {
  padding: 5px;
}

@media screen and (max-width: 1024px) {
  .contanier {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .skills {
    width: 87%;
  }
  .skills-conainer {
    width: 90%;
  }
  .hideOnMobile {
    display: none;
  }
  .showOnMobile {
    display: block;
  }
}
@media all and (max-width: 768px) {
  .width33 {
    width: 52%;
  }
  .projects-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
  }
  .project {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media all and (max-width: 768px) {
  .width33 {
    width: 52%;
  }
}
@media all and (max-width: 412px) {
  .section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .left-col {
    height: 47vh;
    width: 50%;
    padding-top: 113px;
    font-size: 14px;
  }
  .contanier {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
  }
  .aboutMe {
    margin-top: 123px;
  }
}
@media all and (max-width: 375px) {
  .center-page {
    align-content: center;
    height: 144vh;
  }
  .profilepicture {
    max-width: 510px;
    max-height: 510px;
    border-radius: 0;
    padding-top: 121px;
  }
  .left-col {
    height: 47vh;
    width: 60%;
    padding-top: 113px;
    font-size: 14px;
  }
  .image {
    width: 90%;
  }
  .projects-section {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
  }
  .project {
    flex-wrap: wrap;
  }
  .projects-section .width60 {
    width: 100%;
  }
  p {
    width: 100% !important;
  }
  .hamburger-btn {
    padding-right: 30px;
  }
}/*# sourceMappingURL=main.css.map */